.App {
  padding-top: 80px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

/* Centering title for h1, h2, etc. */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin-bottom: 2rem;
}

/* Centering content inside cards */
.recipe-card-container, .login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Styling for the RecipeCard Grid */
.MuiGrid-root {
  display: flex;
  justify-content: center;
}

.MuiGrid-item {
  margin-bottom: 2rem; /* Add some space between rows */
}

.recipe-card-title {
  text-align: center;
}

/* Centering the login form */
.login-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}